<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Catch of the Day</title>
</head>

<body>
  <form action="/image" method="post" enctype="multipart/form-data">>
  <input name="pic" type="file" name="pic" accept="image/*">
  <input type="submit">
</form>
</body>

</html>